In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('dataset/편의시설 변경 버전.csv', index_col=0, encoding='cp949')
df1.head(3)

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,의원,치안센터,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,16,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,1,0,0,1,0,0,1,11,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4,0.0,0.0

In [5]:
df = pd.read_csv('dataset/safety/서울시 유흥주점영업 인허가 정보 (1).csv',encoding='cp949')
df.head(3)

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3220000,3220000-102-2018-00006,2018-12-11,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3230000,3230000-102-2017-00004,2017-05-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3130000,3130000-102-2002-00004,20021029,NaN,3,폐업,2,폐업,20130620,NaN,...,NaN,NaN,NaN,NaN,NaN,N,82.4,NaN,NaN,NaN

In [6]:
df.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '남성종사자수', '여성종사자수',
       '영업장주변구분명', '등급구분명', '급수시설구분명', '총인원', '본사종업원수', '공장사무직종업원수',
       '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모',
       '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [7]:
df = df[['도로명주소','상세영업상태명']]

In [8]:
df['법정동'] = df['도로명주소'].str.extract('.*\(([^)]+)\)$')
df = df[['상세영업상태명','법정동']]

In [9]:
df

     상세영업상태명                         법정동
0         영업                         역삼동
1         영업                  가락동, 거북이빌딩
2         폐업                         NaN
3         영업                         신길동
4         영업                         잠원동
...      ...                         ...
4923      영업  여의도동, 에리트빌딩 지하101,102,103호
4924      폐업                          길동
4925      폐업                          길동
4926      폐업                       길동,지층
4927      영업                   시흥동, 지하1층

[4928 rows x 2 columns]

In [10]:
# '법정동' 컬럼에서 '동'으로 끝나는 부분만 추출
df['법정동'] = df['법정동'].str.extract('([가-힣]+동)')

In [11]:
df = df[(df['상세영업상태명'] == '영업') & pd.notnull(df['법정동'])]

In [12]:
df1

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,의원,치안센터,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,16,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,1,0,0,1,0,0,1,11,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4,0.0,0.0
3,효자동,0,2,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,16,0.0,0.0
4,창성동,0,2,2,0,0,0,0,0,0,...,3,0,0,0,0,0,0,23,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,18,0,2,0,1,15,5,190,0.0,0.0
461,암사동,1,29,3,8,3,2,23,0,22,...,69,1,1,1,1,29,12,422,4.0,0.0
462,성내동,1,54,3,14,4,4,35,19,34,...,125,1,1,1,0,60,25,994,3.0,2.0
463,천호동,3,51,3,7,3,5,47,6,37,...,141,2,1,1,0,44,22,1024,3.0,3.0
464,강일동,0,49,0,1,0,1,9,0,8,...,28,0,1,0,4,1,1,59,0.0,0.0

In [13]:
df = df['법정동'].value_counts()

In [14]:
merged_df = pd.merge(df1, df, left_on='법정동명', right_on='법정동', how='left')

In [15]:
df.head(30)

법정동
신림동     149
화곡동      90
길동       79
역삼동      78
영등포동     63
수유동      48
가락동      39
여의도동     36
삼성동      33
마곡동      31
장안동      29
서초동      28
봉천동      26
오류동      26
논현동      25
사당동      24
방이동      23
응암동      23
상계동      21
창동       18
도화동      18
시흥동      17
남현동      16
천호동      15
가산동      13
도선동      13
북창동      13
신사동      13
효제동      13
갈현동      12
Name: count, dtype: int64

In [16]:
merged_df = merged_df.rename(columns={'count': '유흥주점'})
merged_df['유흥주점'].fillna(0, inplace=True)
merged_df

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_2908\3779744.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['유흥주점'].fillna(0, inplace=True)

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,치안센터,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설,유흥주점
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,0,16,0.0,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,0,0,1,0,0,1,11,0.0,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0.0,0.0,0.0
3,효자동,0,2,1,0,0,0,0,0,1,...,0,0,0,0,0,0,16,0.0,0.0,0.0
4,창성동,0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,23,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,0,2,0,1,15,5,190,0.0,0.0,0.0
461,암사동,1,29,3,8,3,2,23,0,22,...,1,1,1,1,29,12,422,4.0,0.0,2.0
462,성내동,1,54,3,14,4,4,35,19,34,...,1,1,1,0,60,25,994,3.0,2.0,3.0
463,천호동,3,51,3,7,3,5,47,6,37,...,2,1,1,0,44,22,1024,3.0,3.0,15.0
464,강일동,0,49,0,1,0,1,9,0,8,...,0,1,0,4,1,1,59,0.0,0.0,0.0

In [17]:
merged_df.columns

Index(['법정동명', '지하철역', '버스정류소', '서점', '골프연습장업', '목욕장업', '석유판매업', '세탁업',
       '영화상영관', '제과점영업', '체력단련장업', '병원', '약국', '의원', '치안센터', '경찰서', '119안전센터',
       '공원수', '노래방수', '당구장', '음식점수', '장보기시설', '쇼핑시설', '유흥주점'],
      dtype='object')

In [18]:
merged_df.to_csv('편의시설 변경 버전.csv', index=False)

# CCTV 추가

## 데이터 로드

In [19]:
df1 = pd.read_csv('dataset/safety/12_04_08_E_CCTV정보.csv', encoding='cp949')
df1.head(3)

,Unnamed: 0,관리기관명,소재지도로명주소,설치목적구분,카메라대수,WGS84위도,WGS84경도,법정동,법정동 코드
0,0,서울특별시 종로구청,새문안로 55 경희궁공원 쉼터,생활방범,1,37.570144,126.969630,신문로2가,1111012100
1,1,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.572536,127.008603,종로6가,1111016400
2,2,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.573057,127.008690,종로6가,1111016400

## 불필요한 컬럼 제거

In [20]:
df1 = df1.drop(df1.columns[0], axis=1)
df1

,관리기관명,소재지도로명주소,설치목적구분,카메라대수,WGS84위도,WGS84경도,법정동,법정동 코드
0,서울특별시 종로구청,새문안로 55 경희궁공원 쉼터,생활방범,1,37.570144,126.969630,신문로2가,1111012100
1,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.572536,127.008603,종로6가,1111016400
2,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.573057,127.008690,종로6가,1111016400
3,서울특별시 종로구청,숭인동 58-228 숭인공원,생활방범,1,37.575664,127.018135,숭인동,1111017500
4,서울특별시 종로구청,홍파동 2-2 월암공원,생활방범,1,37.571806,126.965553,홍파동,1111017900
...,...,...,...,...,...,...,...,...
28735,서울특별시 서대문구청,서울특별시 서대문구 연희로41가길 29-32,생활방범,3,37.591081,126.933052,홍은동,1141011800
28736,서울특별시 서대문구청,서울특별시 서대문구 연희로41가길 29-32,생활방범,1,37.591081,126.933052,홍은동,1141011800
28737,서울특별시 서대문구청,서울특별시 서대문구 북가좌동 475,생활방범,8,37.574792,126.909556,북가좌동,1141011900
28738,서울특별시 서대문구청,서울특별시 서대문구 봉원사길 65,생활방범,3,37.569569,126.945663,봉원동,1141011500
28739,서울특별시 서대문구청,서울특별시 서대문구 북아현로 140,생활방범,2,37.567463,126.952021,북아현동,1141011000

## 필요 컬럼 선택

In [21]:
df1 = df1[['관리기관명', '소재지도로명주소', '설치목적구분', '카메라대수', 'WGS84위도', 'WGS84경도']]
df1

,관리기관명,소재지도로명주소,설치목적구분,카메라대수,WGS84위도,WGS84경도
0,서울특별시 종로구청,새문안로 55 경희궁공원 쉼터,생활방범,1,37.570144,126.969630
1,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.572536,127.008603
2,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.573057,127.008690
3,서울특별시 종로구청,숭인동 58-228 숭인공원,생활방범,1,37.575664,127.018135
4,서울특별시 종로구청,홍파동 2-2 월암공원,생활방범,1,37.571806,126.965553
...,...,...,...,...,...,...
28735,서울특별시 서대문구청,서울특별시 서대문구 연희로41가길 29-32,생활방범,3,37.591081,126.933052
28736,서울특별시 서대문구청,서울특별시 서대문구 연희로41가길 29-32,생활방범,1,37.591081,126.933052
28737,서울특별시 서대문구청,서울특별시 서대문구 북가좌동 475,생활방범,8,37.574792,126.909556
28738,서울특별시 서대문구청,서울특별시 서대문구 봉원사길 65,생활방범,3,37.569569,126.945663
28739,서울특별시 서대문구청,서울특별시 서대문구 북아현로 140,생활방범,2,37.567463,126.952021

## 필요 데이터 필터링

In [22]:
df1 = df1[df1['설치목적구분'] == '생활방범']
df1

,관리기관명,소재지도로명주소,설치목적구분,카메라대수,WGS84위도,WGS84경도
0,서울특별시 종로구청,새문안로 55 경희궁공원 쉼터,생활방범,1,37.570144,126.969630
1,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.572536,127.008603
2,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.573057,127.008690
3,서울특별시 종로구청,숭인동 58-228 숭인공원,생활방범,1,37.575664,127.018135
4,서울특별시 종로구청,홍파동 2-2 월암공원,생활방범,1,37.571806,126.965553
...,...,...,...,...,...,...
28735,서울특별시 서대문구청,서울특별시 서대문구 연희로41가길 29-32,생활방범,3,37.591081,126.933052
28736,서울특별시 서대문구청,서울특별시 서대문구 연희로41가길 29-32,생활방범,1,37.591081,126.933052
28737,서울특별시 서대문구청,서울특별시 서대문구 북가좌동 475,생활방범,8,37.574792,126.909556
28738,서울특별시 서대문구청,서울특별시 서대문구 봉원사길 65,생활방범,3,37.569569,126.945663
28739,서울특별시 서대문구청,서울특별시 서대문구 북아현로 140,생활방범,2,37.567463,126.952021

## 결측치 확인

In [23]:
df1.isna().sum()

관리기관명       0
소재지도로명주소    0
설치목적구분      0
카메라대수       0
WGS84위도     0
WGS84경도     0
dtype: int64

## 결측치 제거

In [24]:
df1 = df1.dropna(subset=['소재지도로명주소'])
df1

,관리기관명,소재지도로명주소,설치목적구분,카메라대수,WGS84위도,WGS84경도
0,서울특별시 종로구청,새문안로 55 경희궁공원 쉼터,생활방범,1,37.570144,126.969630
1,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.572536,127.008603
2,서울특별시 종로구청,율곡로 283 동대문성곽공원,생활방범,1,37.573057,127.008690
3,서울특별시 종로구청,숭인동 58-228 숭인공원,생활방범,1,37.575664,127.018135
4,서울특별시 종로구청,홍파동 2-2 월암공원,생활방범,1,37.571806,126.965553
...,...,...,...,...,...,...
28735,서울특별시 서대문구청,서울특별시 서대문구 연희로41가길 29-32,생활방범,3,37.591081,126.933052
28736,서울특별시 서대문구청,서울특별시 서대문구 연희로41가길 29-32,생활방범,1,37.591081,126.933052
28737,서울특별시 서대문구청,서울특별시 서대문구 북가좌동 475,생활방범,8,37.574792,126.909556
28738,서울특별시 서대문구청,서울특별시 서대문구 봉원사길 65,생활방범,3,37.569569,126.945663
28739,서울특별시 서대문구청,서울특별시 서대문구 북아현로 140,생활방범,2,37.567463,126.952021

## Reverse Geocoding module

In [ ]:
import requests, json
from tqdm.notebook import tqdm
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry

In [ ]:
def get_address(coordinates):
    session = requests.Session()
    retry = Retry(connect=3, backoff_factor=0.5)
    adapter = HTTPAdapter(max_retries=retry)
    session.mount('http://', adapter)
    session.mount('https://', adapter)
    headers = {"Authorization": "KakaoAK ba25a018cf0921215c5f8c824762526e"}
    result = []
    
    for i, cord in tqdm(enumerate(coordinates)):
        lng = str(cord[1])
        lat = str(cord[0])
        url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
        api_json = session.get(url, headers=headers)
        result.append((i, json.loads(api_json.text)))

    return result

## 데이터 위도 및 경도 추출

In [ ]:
coordinates = list(zip(df1['WGS84위도'], df1['WGS84경도']))

## 모듈 실행

In [ ]:
result = get_address(coordinates)
result

In [ ]:
len(result)

## 데이터 전처리

In [ ]:
df.loc[:, '법정동'] = df['법정동'].str.rstrip()

## 이상 데이터 확인

In [ ]:
for i, data in tqdm(enumerate(result)):
    try:
        temp = (data[0], data[1]['documents'][0]) 
    except Exception as e:
        print(i)

## 법정동 데이터 추출

In [ ]:
preprocessing_result = []

for data in tqdm(result):
    try:
        d = [data[1]['documents'][0]['region_3depth_name'] + " " + data[1]['documents'][0]['region_4depth_name'],
             data[1]['documents'][0]['code']
            ]
        preprocessing_result.append(d)
    except KeyError:
        preprocessing_result.append(('Incorrect cordination', -1))

In [ ]:
preprocessing_result

## 법정동 데이터 프레임 생성

In [ ]:
legal_dong = pd.DataFrame(preprocessing_result, columns=['법정동', '법정동 코드'])
legal_dong

In [ ]:
legal_dong.to_csv("cctv 법정동.csv", encoding='cp949', index=False)

## 원본 데이터 인덱스 초기화

In [ ]:
df2 = df1.reset_index(drop=True)
df2

## 데이터 결합

In [ ]:
df3 = pd.read_csv('cctv 법정동.csv', encoding='cp949')
df3

In [ ]:
result = pd.concat([df2, df3], axis=1)
result

## 데이터 확인

In [ ]:
result[result["법정동"]==' ']

In [ ]:
preprocessing_result[25448]

## 이상 데이터 조정

In [ ]:
result.loc[result['법정동'] == ' ', '법정동'] = "오금동"
result

In [ ]:
result.loc[result['법정동'] == '오금동', '법정동 코드'] = 1171011200
result

## 원본 데이터 덮어쓰기

In [ ]:
result.to_csv('dataset/safety/12_04_08_E_CCTV정보.csv', encoding='cp949')

## 법정동별 CCTV수 데이터 생성

In [ ]:
df=result[['카메라대수', '법정동']]
df

In [ ]:
df.isna().sum()

In [ ]:
df['카메라대수'].sum()

In [ ]:
x = pd.DataFrame(df.groupby('법정동')['카메라대수'].sum())
x.rename(columns={'카메라대수': 'CCTV수'}, inplace=True)
x = x.reset_index()
x

In [ ]:
x[["CCTV수"]].sum()

## 학습 데이터에 맞춰 컬럼명 통일

In [ ]:
x.rename(columns={'법정동': '법정동명'}, inplace=True)
x

## 법정동별 CCTV수 데이터 저장

In [ ]:
x.to_csv('dataset/safety/법정동별 CCTV수.csv', encoding='cp949', index=False)

## 학습 데이터에 반영

In [2]:
cctv = pd.read_csv('dataset/safety/법정동별 CCTV수.csv', encoding='cp949')
cctv

     법정동명  CCTV수
0     가락동    258
1    가리봉동    326
2     가산동    257
3     가양동     85
4     가회동      9
..    ...    ...
432   후암동    230
433   훈정동     17
434   휘경동    284
435   흑석동    127
436   흥인동     26

[437 rows x 2 columns]

In [3]:
origin = pd.read_csv("편의시설 변경 버전.csv")
origin

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,커피숍,패스트푸드,편의점,마트_x,음식점_x,헬스시설2,법정동명_추출,술집,음식점_y,마트_y
0,청운동,0,7,2,0,0,0,0,0,0,...,8.0,0.0,1.0,0.0,11.0,0.0,청운동,0.0,18.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,1.0,0.0,0.0,0.0,6.0,0.0,신교동,0.0,8.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,궁정동,0.0,1.0,0.0
3,효자동,0,2,1,0,0,0,0,0,1,...,4.0,0.0,0.0,0.0,8.0,0.0,효자동,0.0,11.0,0.0
4,창성동,0,2,2,0,0,0,0,0,0,...,2.0,0.0,2.0,0.0,14.0,1.0,창성동,0.0,22.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,34.0,2.0,19.0,0.0,133.0,10.0,둔촌동,2.0,175.0,0.0
461,암사동,1,29,3,8,3,2,23,0,22,...,64.0,9.0,36.0,2.0,283.0,19.0,암사동,10.0,347.0,2.0
462,성내동,1,54,3,14,4,4,35,19,34,...,127.0,23.0,57.0,4.0,698.0,38.0,성내동,15.0,892.0,4.0
463,천호동,3,51,3,7,3,5,47,6,37,...,122.0,24.0,74.0,4.0,710.0,18.0,천호동,19.0,926.0,4.0
464,강일동,0,49,0,1,0,1,9,0,8,...,16.0,4.0,15.0,0.0,42.0,3.0,강일동,0.0,62.0,0.0

In [4]:
new_merged_df = pd.merge(origin, cctv, on='법정동명', how='left')
new_merged_df

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,패스트푸드,편의점,마트_x,음식점_x,헬스시설2,법정동명_추출,술집,음식점_y,마트_y,CCTV수
0,청운동,0,7,2,0,0,0,0,0,0,...,0.0,1.0,0.0,11.0,0.0,청운동,0.0,18.0,0.0,36.0
1,신교동,0,0,0,0,0,0,2,0,1,...,0.0,0.0,0.0,6.0,0.0,신교동,0.0,8.0,0.0,16.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,궁정동,0.0,1.0,0.0,1.0
3,효자동,0,2,1,0,0,0,0,0,1,...,0.0,0.0,0.0,8.0,0.0,효자동,0.0,11.0,0.0,NaN
4,창성동,0,2,2,0,0,0,0,0,0,...,0.0,2.0,0.0,14.0,1.0,창성동,0.0,22.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,2.0,19.0,0.0,133.0,10.0,둔촌동,2.0,175.0,0.0,221.0
461,암사동,1,29,3,8,3,2,23,0,22,...,9.0,36.0,2.0,283.0,19.0,암사동,10.0,347.0,2.0,482.0
462,성내동,1,54,3,14,4,4,35,19,34,...,23.0,57.0,4.0,698.0,38.0,성내동,15.0,892.0,4.0,556.0
463,천호동,3,51,3,7,3,5,47,6,37,...,24.0,74.0,4.0,710.0,18.0,천호동,19.0,926.0,4.0,830.0
464,강일동,0,49,0,1,0,1,9,0,8,...,4.0,15.0,0.0,42.0,3.0,강일동,0.0,62.0,0.0,62.0

In [5]:
new_merged_df.fillna(0, inplace=True)

In [7]:
new_merged_df

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,패스트푸드,편의점,마트_x,음식점_x,헬스시설2,법정동명_추출,술집,음식점_y,마트_y,CCTV수
0,청운동,0,7,2,0,0,0,0,0,0,...,0.0,1.0,0.0,11.0,0.0,청운동,0.0,18.0,0.0,36.0
1,신교동,0,0,0,0,0,0,2,0,1,...,0.0,0.0,0.0,6.0,0.0,신교동,0.0,8.0,0.0,16.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,궁정동,0.0,1.0,0.0,1.0
3,효자동,0,2,1,0,0,0,0,0,1,...,0.0,0.0,0.0,8.0,0.0,효자동,0.0,11.0,0.0,0.0
4,창성동,0,2,2,0,0,0,0,0,0,...,0.0,2.0,0.0,14.0,1.0,창성동,0.0,22.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,2.0,19.0,0.0,133.0,10.0,둔촌동,2.0,175.0,0.0,221.0
461,암사동,1,29,3,8,3,2,23,0,22,...,9.0,36.0,2.0,283.0,19.0,암사동,10.0,347.0,2.0,482.0
462,성내동,1,54,3,14,4,4,35,19,34,...,23.0,57.0,4.0,698.0,38.0,성내동,15.0,892.0,4.0,556.0
463,천호동,3,51,3,7,3,5,47,6,37,...,24.0,74.0,4.0,710.0,18.0,천호동,19.0,926.0,4.0,830.0
464,강일동,0,49,0,1,0,1,9,0,8,...,4.0,15.0,0.0,42.0,3.0,강일동,0.0,62.0,0.0,62.0

In [6]:
new_merged_df.to_csv('편의시설 변경 버전.csv', encoding='cp949', index=False)